@import url('https://fonts.googleapis.com/css?family=Lato');
$textColor: #f0f0f0;

input {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #a1a1a1;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #a1a1a1;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: #a1a1a1;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: #a1a1a1;
  }
}

.title {
  width: 100%;
  font-size: 125px;
  text-align: center;
  position: relative;
  z-index: 2;
  color: $textColor;
  letter-spacing: 12px;
}

.error {
  color: red;
}

body {
  background-color: $background-color;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.120em;
  color: $textColor;
}

.loginCard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  border-radius: 10px;
  z-index: 2;
  background-color: $background-color;
  position: relative;
  @media #{$small-and-down} {
    padding: 50px 20px;
    width: 80%;
  }
  @media #{$medium-and-down} {
    padding: 50px 20px;
    width: 80%;
  }
  @media #{$medium-and-up} {
    width: 60%;
    padding: 70px;
  }
  @media #{$extra-large-and-up} {
    width: 40%;
    padding: 100px;
  }
}

#loginError {
  margin-top: -15px;
}

#loginBackgroundCard {
  height: 45vh;
  background-color: $primary-color;
  z-index: 0;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

#addItemButton {
  margin-top: 20px;
  font-size: 25px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  background: none;
  border: none;
  color: $secondary-color;

  i {
    margin: 10px auto auto;
  }
}

#itemsView {
  height: 80vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .item {
    border-bottom: 1px solid #bababa;
    padding: 30px 0;
  }
}

.checkBox {
  color: $secondary-color;
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.deleteButton {
  @extend .checkBox;
  float: none;
  display: inline;
}

.completedTask {
  text-decoration: line-through;
}

.sideBarMsg {
  line-height: 35px;
  margin: 50px 0;
  font-size: 30px;
}

.btn-outline {
  background-color: $background-color;
  color: $secondary-color;
  border: 1px solid $secondary-color;
  line-height: 0;

  &:hover {
    color: $background-color;
  }
}

#hamburgerIcon {
  & > i {
    font-size: 35px;
  }
}
